<?php
/*
 * This file is part of the siftware/live-connect package.
 *
 * (c) 2014 Siftware <code@siftware.com>
 *
 * Author - Darren Beale @bealers
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
* Get these from https://account.live.com/developers/applications
*/
define("LIVE_CLIENT_ID", "<put yours here>");
define("LIVE_CLIENT_SECRET", "<put yours here>");
